<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="UTF-8">
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/MyStyle.css}" />

<title>Bisan Photo and Art</title>
</head>
<body th:object="${category}">
	<header th:replace="~{frag :: header()}"></header>

  <div class="container mt-5 d-flex justify-content-center">
    <div class="row">
      <div class="col">
        <h1>Add a new Category</h1>
        <div th:if="${errors}">
          <ul>
            <li class="text-danger" th:each="error : ${errors}" th:object="${error}">Value [[*{defaultMessage}]]</li>
          </ul>
        </div>
        <form method="POST" th:action="@{/category/admin/create}" th:object="${category}">
					<label>Name</label><br>
					<input type="text" name="name" th:field="*{name}" class="form-control mb-3">
					<br>
					<button type="submit" class="btn btn-success">Add</button>
				</form>
    </div>
  </div>
  </div>

</body>

</html>